# idea
.idea/
/idea/
*.iml
*.map
*.ipr
*.iws

# eclipse
.settings/
.classpath
.project

# maven
target/
build/

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# nodejs
node_modules/
package-lock.json

# others
logs/
loghub-config.properties
GaeaConfigCenter_*
loghub-config*
hs_err_pid*
ConfigCenter*
.flattened-pom.xml
/.idea/inspectionProfiles/
